/*
 * Estilos de tu proyecto
 */
body {
   font-family: "Roboto Condensed", sans-serif;
   margin: 0;
   padding: 0;
   background: #E8E8E8;
 }

 div.ham-menu {
   float: right;
   overflow: hidden;
   width: 28px;
   height: 35px;
   padding: 3px 7px;
   padding-top: 0;
   margin: 15px 5px;
   background: #F7B617;
   border-radius: 4px;
 }

h1 {
  margin: 0 5px 30px 10px;
  font-size: 32px;
  font-weight: 400;
}

h1, img.logo,
.ham-menu, p.avatar-name,
section.lucile,
aside.left-menu,
main#tabs-container  {
  display: inline-block;
}

h2.lu {
  line-height: 0;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

hr {
  font-weight: 600;
  border-style: solid;
}

main#tabs-container {
  width:71%;
  height: 100%;
  margin: 18px;
  float: right;
  overflow: hidden;
  outline: none;
  border: none;
}

nav {
  margin: 0 15px;
  padding: 10px;
}

p.avatar-name {
  border-radius: 50%;
  background: #C4C4C4;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  height: 70px;
  width: 70px;
  padding: 5px;
  padding-top: 3px;
  margin: 15px;
  margin-left: 38px;
  padding: 9px;
}

p.email {
  line-height: 0;
  margin: 0;
  font-size: 12px;
  color: gray;
}

section.lucile {
  margin: 15px 0;
}

ul {
  margin-top: 0;
}

ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 15px 0;
  font-size: 25px;
}

div.user {
  padding: 0;
  margin: 0;
}

aside.left-menu {
  width: 350px;
  height: 600px;
  background: #FCFCFC;
  border: 1.2px solid rgba(0,0,0,.09)
}

.content {
  box-sizing: content-box;
  font-family: 'Roboto Mono', serif;
  text-align: left;
  font-size: 20px;
  padding: 5px 20px;
  color: #000;
  display: none;
}

.content>h2{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.logo {
  width: 160px;
  height: 50px;
  text-align: center;
  position: relative;
  left: 30%;
  top: 7px;
}

.nav-container {
  border: 1.2px solid rgba(0,0,0,.09);
  background: #FFF;
  height: 95px;
  margin: 0;
  padding: 0;
}

.tab {
  border-color: transparent;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-right: 5px;
  background: #C4C4C4;
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.tabs {
  display: flex;
}

.tab:focus {
  outline: none;
  border: 1px solid white;
  border-top: solid 3px #F7B617;
  background: #fff;
  font-weight: 700;
  color: #000;
}

.wrapper {padding: 5px;
  height: 1200px;
  border-right: 1.2px solid rgba(0,0,0,.09);
  background: #FCFCFC;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  padding: 0;
}
